.buttonGetraenke {
    //width: 200px;
   // height: 50px;
}

.buttonEjectTake {
    width: 265px;
    height: 60px;
}

.buttonMoney {
    width: 50px;
    height: 30px;
}

.displayPanelSize {
    width: 265px;
    height: 70px;
}